html {
	font-family: "Lucida Console", Monaco, monospace;
}

.hidden {
	display: none;
}

span.left-nav {
	float: left;
}

span.right-nav {
	float: right;
}

.intro img:hover {
    background-color: gray; 
    color: white;
    border-radius: 8px;
}

header img {
	width: 50px;
	height: 100%;
}

.landing {
	text-align: center;
}

/*.body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/