html {
  font-family: 'Ubuntu Mono', monospace;
/*  color: #333333;*/
cursor: pointer;
}

.landing {
  text-align: center;
}

header, .main {
  text-align: center;
}

img {
  width: 75%;
  border-radius: 25%;
}

img.screenshot {
  border-color: #333333;
  border-style: solid;
}
a.code, a.demo {
  color: #ffffff;
  text-decoration: none;
}

  #top{
    background-color: #ffffff;
    color: #333333;
  }

  #about-me { 
    background-color: #333333;
    color: #ffffff;
  }

a.light-link {
    font-weight: bold;
    background-color: #ffffff;
    color: #333333;
    box-shadow: -5px 0 0 #ffffff, 5px 0 0 #ffffff;
    border-radius: 3px;
    width: 50%;
    text-decoration: none;
}


button {
  display: inline;
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}

button.see-portfolio {
  display: inline;
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
}

.icons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100; }

.stamp {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  background: yellow;
  border-radius: 100px; }